
.grid {
  display: grid;
  width:100px;
  grid-template-columns: auto auto auto auto auto auto;
  border-style: solid 2px black;
  gap: 12px;
  margin-right: 585px;
}
.grid > div {
  background-color: #f1f1f1;
  border: 1px solid black;
}

.square{
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

/* .container{
 display: grid;
 align-items: center;

} */

.button-container{
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}

button{
  width:75px;
  height: 50px;
}

.hidden-cell {
  background-color: gray;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  cursor: pointer;
}

.revealed-cell {
  cursor: default;
}